<script lang="ts" setup>
import { ref } from "vue";

const num = ref<number>(0);
</script>

<template>
  <v-row>
    <v-card-text>
      <v-form>
        <v-text-field
          v-model.number="num"
          label="Please input number"
          class="font-weight-bold"
          type="number"
          :rules="[(v) => !!v || 'Number is not empty!!']"
        ></v-text-field>
      </v-form>
    </v-card-text>
  </v-row>
  <v-row>
    <v-col v-for="n in num" :key="n" cols="1">
      {{ n }}
    </v-col>
  </v-row>
</template>
