<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
interface Props {
  id: number;
  name: string;
  price: number;
}
const selects = ref<Props[]>([]);
const sum = ref(0);
const OnClick = (item: Props) => {
  selects.value.push(item);
  sum.value = sum.value + item.price;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6" class="flex-wrap d-flex overflow-y-auto h-screen">
        <v-card
          v-for="item in products"
          :key="item.id"
          class="v-col-4 ma-5"
          max-width="150px"
          >{{ item.id }}
          <v-card-title class="text-center">{{ item.name }}</v-card-title>
          <v-card-text class="text-center pa-0">{{ item.price }}</v-card-text>
          <v-card-actions class="justify-center"
            ><v-btn @Click="OnClick(item)">ADD</v-btn></v-card-actions
          >
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-table height="600px">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody v-if="selects.length === 0">
            <td colspan="4">
              <p class="text-center text-h6">NO Data</p>
            </td>
          </tbody>
          <tbody v-if="selects.length > 0">
            <tr v-for="(item, index) in selects" :key="index">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
        <v-container>
          <p class="text-h2">Sum:{{ sum }}</p>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
