<script setup lang="ts">
import FirstComponent from "../components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
const num = 0;
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6"><FirstComponent :num="num" /></v-col>
      <v-col cols="6"><SecondComponent :num="num" /></v-col>
    </v-row>
  </v-container>
</template>
