<script lang="ts" setup>
import { ref } from "vue";
import angry from "../../feeling_imgs/angry.png";
import cute from "../../feeling_imgs/cute.png";
import excited from "../../feeling_imgs/excited.png";
import pain from "../../feeling_imgs/pain.png";
import shocked from "../../feeling_imgs/shocked.png";
import smile from "../../feeling_imgs/smile.png";
const result = ref("Smile");
const onClick = (name: string) => {
  result.value = name;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col
        ><v-card max-width="400" class="justify-center"
          ><v-img :src="angry" v-if="result === 'Angry'"></v-img
        ></v-card>
        <v-card max-width="400" class="justify-center"
          ><v-img :src="cute" v-if="result === 'Cute'"></v-img
        ></v-card>
        <v-card max-width="400" class="justify-center"
          ><v-img :src="excited" v-if="result === 'Excited'"></v-img
        ></v-card>
        <v-card max-width="400" class="justify-center"
          ><v-img :src="pain" v-if="result === 'Pain'"></v-img
        ></v-card>
        <v-card max-width="400" class="justify-center"
          ><v-img :src="shocked" v-if="result === 'Shocked'"></v-img
        ></v-card>
        <v-card max-width="400" class="justify-center"
          ><v-img :src="smile" v-if="result === 'Smile'"></v-img
        ></v-card>
      </v-col>
      <v-col class="flex-colum mb-6">
        <p class="text-h3 text-center mt-5 mb-5">{{ result }}</p>
        <v-col>
          <v-btn
            block
            width="100"
            :class="'mb-4'"
            @click="onClick('Angry')"
            :color="result == 'Angry' ? 'yellow' : undefined"
            >ANGRY</v-btn
          >
          <v-btn
            block
            width="100"
            :class="'mb-4'"
            @click="onClick('Cute')"
            :color="result == 'Cute' ? 'yellow' : undefined"
            >CUTE</v-btn
          >
          <v-btn
            block
            width="100"
            :class="'mb-4'"
            @click="onClick('Excited')"
            :color="result == 'Excited' ? 'yellow' : undefined"
            >EXCITED</v-btn
          >
          <v-btn
            block
            width="100"
            :class="'mb-4'"
            @click="onClick('Pain')"
            :color="result == 'Pain' ? 'yellow' : undefined"
            >PAIN</v-btn
          >
          <v-btn
            block
            width="100"
            :class="'mb-4'"
            @click="onClick('Shocked')"
            :color="result == 'Shocked' ? 'yellow' : undefined"
            >SHOCKED</v-btn
          >
          <v-btn
            block
            width="100"
            :class="'mb-4'"
            @click="onClick('Smile')"
            :color="result == 'Smile' ? 'yellow' : undefined"
            >SMILE</v-btn
          >
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
