<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const Counter = useCounterStore();
</script>
<template>
  <div>
    <v-container>
      <h1 class="text-subtitle-1">FirstComponent</h1>
      <h3 class="text-subtitle-1">{{ Counter.count }}</h3>
      <br />
      <v-btn class="d-flex justify-space-between" @click="Counter.increment"
        >INCREMENT</v-btn
      >
    </v-container>
  </div>
</template>
