<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const Counter = useCounterStore();
</script>
<template>
  <div>
    <v-container>
      <h1 class="text-subtitle-1">SecondComponent</h1>
      <h3 class="text-subtitle-1">{{ Counter.doubleCount }}</h3>
      <br />
      <v-btn class="d-flex justify-space-between" @click="Counter.decrease"
        >DECREASE</v-btn
      >
    </v-container>
  </div>
</template>
